<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.NOTIFICATION_POSTED" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>
    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/spot_alert_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SpotAlert"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.spot.alert.fileprovider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
                />
        </provider>

        <activity
            android:name=".CalendarManagementFragment"
            android:exported="false" />
        <activity
            android:name=".CenterPointFragment"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDJF_z4BxiZbZFLdHyrMmyBcoDZOBrLp3k" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true" />

        <receiver
            android:name=".LocationReceiver"
            android:exported="true" />

        <receiver android:name=".AlarmManagerReceiver"/>

    </application>

</manifest>